<div id="content">

  <div class="section">
    <h1>Badges &mdash; Help Spread the Word!</h1>
    <p>
      Going to RubyNation?  Show the world!
      Or just want your friends to know about it?  
      Help us spread the word by posting our badges on your blog or web site.
    </p>
  </div>

  <div class="section">
    <h2>Speaker Badges</h2>
    <p>
      Speaking at RubyNation?  Put this badge on your blog, and let everyone know
      about RubyNation!
    </p>

    <p>
      <%= image_tag "conference/badges/2010/rubyWebBadgeSpeaker.png" %>
    </p>

    <textarea class="sample-code">
&lt;a href="http://www.rubynation.org/">
  &lt;img src="http://www.rubynation.org/images/conference/badges/2010/rubyWebBadgeSpeaker.png"/>
&lt;/a>
    </textarea>
  </div>

  <div class="section">
    <h2>Sponsor Badges</h2>
    <p>
      Sponsoring RubyNation?  Let everyone know with the sponsor badge.
    </p>

    <p>
      <%= image_tag "conference/badges/2010/rubyWebBadgeSponsor.png" %>
    </p>

    <textarea class="sample-code">
&lt;a href="http://www.rubynation.org/">
  &lt;img src="http://www.rubynation.org/images/conference/badges/2010/rubyWebBadgeSponsor.png"/>
&lt;/a>
    </textarea>
  </div>

  <div class="section">
    <h2>Attendee Badges</h2>
    <p>
      Attending RubyNation, and want everyone to know?  Then put this badge on
      your blog and show everyone how cool you are!
    </p>

    <p>
      <%= image_tag "conference/badges/2010/rubyWebBadgeAttendee.png" %>
    </p>

    <textarea class="sample-code">
&lt;a href="http://www.rubynation.org/">
  &lt;img
  src="http://www.rubynation.org/images/conference/badges/2010/rubyWebBadgeAttendee.png"/>
&lt;/a>
    </textarea>
  </div>

  <div class="section">
  <h2>Friend Badge</h2>
  <p>
    Just a friend of RubyNation?  Then use this friend badge!
  </p>

  <p>
    <%= image_tag "conference/badges/2010/rubyWebBadgeFriend.png" %>
  </p>

  <textarea class="sample-code">
&lt;a href="http://www.rubynation.org/">
  &lt;img src="http://www.rubynation.org/images/conference/badges/2010/rubyWebBadgeFriend.png"/>
&lt;/a>
  </textarea>
  </div>

  <div class="section">
  <h2>Generic Badge</h2>
  <p>
    Not sure?  Then use this generic badge!
  </p>

  <p>
    <%= image_tag "conference/badges/2010/rubyWebBadgeConference.png" %>
  </p>

  <textarea class="sample-code">
&lt;a href="http://www.rubynation.org/">
  &lt;img src="http://www.rubynation.org/images/conference/badges/2010/rubyWebBadgeConference.png"/>
&lt;/a>
  </textarea>
  </div></div>