<div id="content">

  <div class="section">
    <h1>Sponsor RubyNation!</h1>

    <p>We appreciate our sponsors, and are committed to providing solid value in exchange for 
	    sponsorship.  Would you like information on how to sponsor us? Our 2010 
        <a href="/docs/RubyNation_2010_Sponsorship.pdf">Sponsorship Prospectus</a> provides 
        the details. Please email us regarding sponsorship at
        <a href="&#109;ailto&#58;sponsorship&#64;rubynation.org?subject=RubyNation%20%2010%20Sponsorship">
        sponsorship&#64;rubynation.org</a>.</p>
  </div> <!-- section -->

  <div class="section">
    <h2>Diamond Sponsor</h2>

    <div class="sponsor-bio">
      <%= image_tag("sponsors/metrostar.png", :size => "120x165", :alt => "MetroStar Systems - Advancing Technology Daily") %>

      <p>
      For over 10 years, Information Technology provider, 
	  <a href="http://www.metrostarsystems.com">MetroStar Systems</a>, has
	  transformed from a start-up into one of America's Fastest Growing 
	  Companies, as ranked by Inc. Magazine. Innovative and diverse experience
	  allows MetroStar to provide its clients with agile, collaborative 
	  solutions designed to integrate people, processes, technology, and 
	  learning across organizational and geographical boundaries through six 
	  solution groups: Portal Strategy & Implementation, System Integration, 
	  Enterprise Infrastructure Support, Business Intelligence, New Media 
	  Technology, and Training & Education. The privately held, Virginia-based
	  firm is certified 8(a) and specializes in systems and software 
	  integration for many public sector and commercial clients</p>
      </p>

    </div> <!-- sponsor-bio -->
  </div> <!-- section -->

  <div class="section">
    <h2>Platinum Sponsors</h2>
	
	    <div class="sponsor-bio">
          <!--
	      <%= image_tag("sponsors/engine-yard-thumb.png", :size => "110x180", :alt => "EngineYard, Inc.") %>
          -->
	      <%= image_tag("sponsors/engineyard/EY1.Trdmrk.rgb72_Vrtcl.TM.png", :size => "110x180", :alt => "EngineYard, Inc.") %>

          <p>
          Engine Yard provides automation technologies and services for Ruby on Rails, including Engine Yard Cloud, an application services platform for web developers and web teams. Engine Yard sponsors or contributes to many Open Source projects such as Ruby on Rails, JRuby and Rubinius. Engine Yard is backed by Benchmark Capital, New Enterprise Associates, and Amazon.com. Visit 
<a href="www.engineyard.com">www.engineyard.com</a>, 
and <a href="twitter.com/engineyard">twitter.com/engineyard</a>.
          </p>

<!--
	    <div class="sponsor-bio">
	      <%= image_tag("sponsors/marklogic/logo.gif", :size => "126x39", :alt => "Mark Logic, Inc.") %>

          <p>
          Mark Logic Corporation is a leading provider of information infrastructure software, serving industries including media, government, financial services, healthcare, and others. The company's flagship product, MarkLogic Server, is used by customers to enable a wide variety of information applications including custom publishing, search-based applications, content analytics, unified information access, metadata catalogs, and threat intelligence systems. MarkLogic Server is based on patented innovations and provides state-of-the-art features including location awareness, real-time search, and a shared-nothing cluster architecture that supports high performance against petabyte-scale databases. For more information, to download a trial version, or to read the award-winning Mark Logic CEO Blog, go to 
<a href="www.marklogic.com">www.marklogic.com</a>. 
          </p>
    </div>
    -->

    <div class="sponsor-bio">
      <%= image_tag("sponsors/bah/bah-thumb.png", :size => "120x32",
                    :alt => "Booz Allen Hamilton") %>

      <p>
Booz Allen Hamilton, a leading strategy and technology consulting firm, works with clients to deliver results that endure. Every day, government agencies, corporations, institutions, and infrastructure organizations rely on Booz Allen’s expertise and objectivity, and on the combined capabilities and dedication of our exceptional people to find solutions and seize opportunities.
      </p>

      <p>
Booz Allen Hamilton has been at the forefront of strategy and technology consulting for 95 years. Providing a broad range of services in strategy, operations, organization and change, information technology, systems engineering, and program management, Booz Allen is committed to delivering results that endure. Headquartered in McLean, Virginia, Booz Allen has 20,000 employees and generates annual revenue of over $4 billion.
      </p>

    </div> <!== sponsor-bio ==>
	
  </div> <!-- section -->

  <div class="section">
    <h2>Gold Sponsors</h2>

<!--
    <div class="sponsor-bio">
      <%= image_tag("sponsors/iterative/iterativedesignslogo-thumb.png", :size => "120x70",
                    :alt => "Iterative Designs, Inc.") %>

      <p>
At Iterative Designs, our business model is simple, do things that matter. Whether it is for our clients or for ourselves, we craft dreams and visions into reality. We have helped companies with their branding, Information Technology infrastructure, usability engineering, and rich internet applications. We specialize in taking the impossible and through iterative design and development growing your ideas into reality. We trust you will find out what our clients and our team have already learned; that through Iterative Designs anything is possible.
      </p>
    </div> <!== sponsor-bio ==>
	
-->
    
<!--
    <div class="sponsor-bio">
      <%= image_tag("sponsors/rollstream/logo_light_thumb.jpg", :size => "120x40",
                    :alt => "RollStream, Inc.") %>

      <p>
        RollStream is committed to addressing the last great problem in global
        supply chains, that has consistently caused businesses significant
        financial pain, inefficient human-to-human interaction.
      </p>

      <p>
        Our on-demand Software as a Service (SaaS) platform provides a powerful
        Human-Centric Partner Management (HCPM) solution for optimizing the
        human element of supply chain networks.
      </p>
    </div> <!== sponsor-bio ==>
-->
    
    <div class="sponsor-bio">
      <%= image_tag("sponsors/sherpa-thumb.gif", :size => "120x71",
                    :alt => "Code Sherpas, Inc.") %>
      <p>
        CodeSherpas can develop the software you need for your business.  They
        provide complete application lifecycle development from requirements
        through development, deployment, and maintenance.  Already have a
        development team? Just need to get more work done?  CodeSherpas can join
        your existing team and help them pull more weight.  CodeSherpas can also
        provide training in Java, Ruby/Rails, and agile project management. 
      </p>
    </div> <!-- sponsor-bio -->

    <div class="sponsor-bio">
      <%= image_tag("sponsors/customink-thumb.gif", :size => "120x15",
                    :alt => "CustomInk: You Think It, We Ink It!") %>
      <p>
        CustomInk.com operates an innovative website that enables people to
        design and order custom decorated products such as printed t-shirts and
        embroidered caps for their groups and events including student groups,
        bands, small businesses, corporations, family reunions, and more. Their
        t-shirt printing operations accommodate orders of all sizes, ranging
        from a single t-shirt to quantities in the thousands.  In 2005 and 2006,
        CustomInk was named to Inc.  Magazine's "Inc500" list of America's
        fastest-growing private companies. They were also included in
        Washingtonian Magazine's last list of "Great Places to Work" in the DC
        area.
      </p>
    </div> <!-- sponsor-bio -->

    <div class="sponsor-bio">
      <%= image_tag("sponsors/fgm-thumb.gif", :size => "120x24",
                    :alt => "FGM, Inc.") %>
      <p>
        FGM, Inc., is an information technology company delivering
        sophisticated, customized solutions that improve business efficiency
        across the enterprise. As a trusted partner of the Department of
        Defense, U.S.  Government civilian and international agencies, and
        businesses throughout the world, FGM is an agile provider of technical
        solutions that enable mission-critical operations and decision-making.
        FGM's solutions help customers improve their business performance
        through information technology transformation services focusing on
        architecture, information management, systems integration, and
        integrated solutions. 
      </p>
    </div> <!-- sponsor-bio -->

  </div> <!-- section -->

  <div class="section">
    <h2>Silver Sponsors</h2>

    <div class="sponsor-bio">
      <%= image_tag("sponsors/shoutreel/shoutreel.png", :size => "137x30",
                    :alt => "Shoutreel") %>
      <p>
      SHOUTREEL is a simple and easy application that lets users create
      micro-forums about anything.  These micro-forums are called Reels, they can
      be public or private.  The ultimate goal of SHOUTREEL is to create embedable
      forums that are lite and nimble, which can be embedded into other platforms
      such as: mobile devices, social networks, and blogs/websites.
      </p>

      <p>
      One very distiguishing aspect of SHOUTREEL is that users don't need to
      register or login to participate in public Reels.  The user is able to shout
      and express anonymously.  Reels that are private require a key or
      membership.
      </p>

      <p>
      SHOUTREEL is built with all open source Ruby technology: Rails, Phusion
      Passenger, Enterprise Ruby, geokit, rmagick, paperclip, thinking-sphinx, and
      many more.
      </p>

      <p>
      To find out more please check out the 
      <a href="http://srtest.shoutreel.com/sr_faq">FAQ</a>.
      </p>
    </div> <!-- sponsor-bio -->

  </div> <!-- section -->

  <div class="section">
    <h2>Media Sponsors</h2>

    <div class="sponsor-bio">
      <%= link_to image_tag("sponsors/media/addison.jpg", 
                    :size => "100x100",
                    :border => 1,
                    :alt => "Addison-Wesley, Inc."),
                    "http://informit.com/ruby" %>

      <p>
      Thanks to Addison-Wesley for giving us a selection of great ruby and rails books to give out.
      </p>

    </div> <!-- sponsor-bio -->

    <div class="sponsor-bio">
      <%= link_to image_tag("sponsors/media/prag_bookshelf_on_white.png", 
                    :size => "120x40",
                    :border => 1,
                    :alt => "Pragmatic Bookshelf, Inc."),
                    "http://www.pragprog.com/"
                    %>

      <p>
Thanks to The Pragmatic Bookshelf for giving us a selection of great ruby and rails books for our giveaways.
And a special thanks to pragmatic authors Dave Thomas and Chad Fowler for providing the NovaRUG with a 
fantastic RubyNation announcement meeting.
      </p>

    <div class="sponsor-bio">
      <%= link_to image_tag("sponsors/media/oreilly-thumb.gif", 
                    :size => "120x23",
                    :border => 1,
                    :alt => "O'Reilly, Inc."),
                    "http://oreilly.com/ruby/" %>

      <p>
      Thanks to O'Reilly for giving us a bunch of great ruby and rails books to give out.
      </p>

    </div> <!-- sponsor-bio -->

    <div class="sponsor-bio">
      <%= link_to image_tag("sponsors/media/RubyMine_logo.gif", 
                    :size => "120x30",
                    :border => 1,
                    :alt => "JetBrains, Inc."),
                    "http://www.jetbrains.com/ruby/index.html" %>

      <p>
      Thanks to JetBrains for providing five RubyMine licenses for giveaways.
      </p>

    </div> <!-- sponsor-bio -->
 
	<div class="sponsor-bio" >
     <%= link_to image_tag("sponsors/media/peepcode/peepcode.png", 
                    :size => "120x60",
                    :border => 0,
                    :style => 'background-color: black;',
                    :alt => "Peepcode"),
                    "http://www.peepcode.com" %>

      <p>
      Thanks to Peepcode for providing T-Shirts and screencast coupons for giveaways.
      </p>

    </div> <!-- sponsor-bio -->
    
<!--
     
    <p>
    Coupons for 16Bugs bug tracking service:
    </p>
    <%= link_to image_tag("sponsors/16bugs/16bugs.gif", 
                    :border => 0,
                    :alt => "16Bugs"),
                    "http://www.16Bugs.com" %>
-->

  </div> <!-- section -->

  <div class="section">
    <h2>Our Web Site and Subversion Hosting Partner</h2>
    <p>The RubyNation website as well as the subversion repository is being
        hosted by CodeSherpas, an excellent boutique software engineering firm
        in the Northern Virginia area specializing in Java/J2EE/Lightweight and
        Ruby/Rails software development.</p>

    <p>Any questions about the hosting?  Email <a
        href="&#109;ailto&#58;dbock&#64;codesherpas.com">Dave Bock</a> at 
        CodeSherpas Inc.</p>
  </div> <!-- section -->

</div>
