    <div id="sponsors">
      <p class="sponsor-list">Our Sponsors</p>
      <div class="diamond">
      	<div class="sponsor-header">Diamond</div>
      	<div>
        <%= link_to(
            image_tag("sponsors/metrostar.png", :size => "120x165",
                      :alt => "MetroStar Systems - Advancing Technology Daily"),
            "http://www.metrostarsystems.com/", :class => 'sponsor') %>
      </div></div>

      <div class="platinum">
      	<div class="sponsor-header">Platinum</div>
      	<div>
		<%= link_to(
            image_tag("sponsors/engineyard/EY1.Trdmrk.rgb72_Vrtcl.TM.png", :size => "110x180",
                      :alt => "EngineYard, Inc."),
            "http://www.engineyard.com/", :class => 'sponsor') %>
        <!--
        <%= link_to(
           image_tag("sponsors/marklogic/logo.gif", :size => "126x39",
                      :alt => "Booz Allen Hamilton"),
            "http://www.marklogic.com/", :class => 'sponsor') %>
            -->
        <%= link_to(
           image_tag("sponsors/bah/bah-thumb.png", :size => "120x32",
                      :alt => "Booz Allen Hamilton"),
            "http://www.boozallen.com/", :class => 'sponsor') %>
      </div></div>

      <div class="gold">
      	<div class="sponsor-header">Gold</div>
      	<div>
        <%= link_to(
            image_tag("sponsors/sherpa-thumb.png", :size => "120x71",
                      :alt => "Code Sherpas, Inc."),
            "http://www.codesherpas.com/", :class => 'sponsor') %>
        <%= link_to(
            image_tag("sponsors/customink-thumb.png", :size => "120x15",
                      :alt => "CustomInk: You Think It, We Ink It!"),
            "http://www.customink.com/", :class => 'sponsor') %>
	    <%= link_to(
            image_tag("sponsors/fgm-thumb.png", :size => "120x24",
                      :alt => "Vision. Leadership. Experience. Results."),
            "http://www.fgm.com/", :class => 'sponsor') %>
      </div></div>

      <div class="silver">
      	<div class="sponsor-header">Silver</div>
        <div>
        <%= link_to(
           image_tag("sponsors/shoutreel/shoutreel.png", :size => "137x30",
                      :alt => "Shoutreel"),
            "http://www.shoutreel.com/", :class => 'sponsor') %>
      </div></div>
	  
	  <div class="media">
      	<div class="sponsor-header">Media</div>
        <div>
        <%= link_to(
           image_tag("/images/sponsors/media/addison.jpg", :size => "102x120",
                      :alt => "Addison Wesley"),
            "http://informit.com/ruby", :class => 'sponsor') %>
	    <%= link_to(
           image_tag("/images/sponsors/media/prag_bookshelf_on_white_120x29.png", :size => "120x29",
                      :alt => "Pragmatic Bookshelf"),
            "http://www.pragprog.com", :class => 'sponsor') %>
        <%= link_to(
           image_tag("/images/sponsors/media/oreilly-thumb.gif", :size => "120x23",
                      :alt => "O'Reilly"),
            "http://oreilly.com/ruby/", :class => 'sponsor') %>
        <%= link_to(
           image_tag("/images/sponsors/media/rubymine.png", :size => "112x32",
                      :alt => "RubyMine"),
            "http://www.jetbrains.com/ruby/index.html", :class => 'sponsor') %>
        <%= link_to(
           image_tag("/images/sponsors/media/peepcode/peepcode_sm.png", :size => "130x56",
                      :alt => "PeepCode"),
            "http://www.peepcode.com", :class => 'sponsor') %>
      </div></div>

    </div>
